body{
	font-family: "Calibri", sans-serif;
}

div{

	background-color: #BFBFBF;
	width : 350px;
	float: left;
	border: 1px solid black;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

img{
	width : 100%;
}