body{
	font-family: 'Calibri', sans-serif;
}

.error{
	background-color: red;
	border-radius: 5px;
	color: #fff;
	padding: 5px;
}

.success{
	background-color: green;
	border-radius: 5px;
	color: #fff;
	padding: 5px;
}

table{
	border-collapse: collapse;
}

table tr,
table th,
table td
{
	border: 1px solid black;
	padding: 0 5px;
}

th{
	background-color : #828282;
}

table>tbody>tr:nth-child(even){
	background-color: #A6A6A6;
}

table>tbody>tr:nth-child(odd){
	background-color: #DEDEDE;
}

.order a{
	color: #000;	
	padding-right: 30px;
    position: relative;
}

.order>a>img{
	width: 20px;
	height: auto;
	position:relative;
	top: 4px;
	left: 5px;
}