body{
	font-family: 'Calibri', sans-serif;
}

.error{
	background-color: red;
	border-radius: 5px;
	color: #fff;
	padding: 5px;
}

.message{
	background-color: green;
	border-radius: 5px;
	color: #fff;
	padding: 5px;
}